body,
html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: "stolzl";
    font-weight: 300;
    background-color: var(--white);
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

:root {
    --white: #ffffff;
    --turquoise: #2BB298;
    --pastelpink: #F6A5A5;
    --glaucous: #7E85BD;
}

/* YOUR PLANS */

.your-plans>header,
.settings>header,
.welcome>header,
.review-task>header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 20px 0;
}

.your-plans>main>h1,
.settings>main>h1,
.welcome>header>h1,
.review-task>header>h1 {
    font-weight: 500;
    margin-bottom: 33px;
    letter-spacing: 0.6px;
}

.your-plans .be-productive,
.your-plans .move-your-body,
.your-plans .mindfulness,
.welcome .first-activity,
.welcome .second-activity,
.welcome .add-activity,
.review-task .background-turquoise {
    width: 21rem;
    height: 11rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 29px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.16);
    margin: 20px auto;
}

.your-plans .be-productive {
    background-color: var(--glaucous);
}

.your-plans .move-your-body,
.welcome .first-activity,
.welcome .second-activity {
    background-color: var(--turquoise);
}

.your-plans .mindfulness {
    background-color: var(--pastelpink);
}

.your-plans .be-productive>h2,
.your-plans .move-your-body>h2,
.your-plans .mindfulness>h2,
.welcome .first-activity>h2,
.welcome .second-activity>h2,
.review-task .background-turquoise h2 {
    font-weight: 500;
    color: var(--white);
    text-align: center;
    letter-spacing: 1.2px;
}

.your-plans .be-productive .second-row,
.your-plans .move-your-body .second-row,
.your-plans .mindfulness .second-row,
.review-task .satisfaction .second-row,
.review-task .paused-activity .second-row,
.review-task .share-results .second-row {
    width: 75%;
    height: 6rem;
    margin: -9px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
}

.work-svg {
    width: 95px;
    margin: 0px 0 10px 5px;
}

.workout-svg,
.meditation-svg {
    margin-bottom: 10px;
}

.your-plans .done-tasks {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.your-plans .be-productive .circle,
.your-plans .move-your-body .circle,
.your-plans .mindfulness .circle {
    width: 2rem;
    height: 2rem;
    margin: 0;
    border-radius: 50%;
    background-color: rgba(232, 232, 232, 0.27);
    display: flex;
    justify-content: center;
    align-items: center;
}

.your-plans .done-tasks .circle p:nth-of-type(1) {
    font-size: 25px;
    margin: 0;
    border: 0px solid;
}

.your-plans .done-tasks>p:nth-of-type(2) {
    font-size: 16px;
    margin: 0;
}


/* SETTINGS */

.settings .background-gradient {
    width: 21rem;
    height: 35rem;
    background: linear-gradient(#58BDAA, #7E85BD, #F6A5A5);
    border-radius: 41px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.settings .background-gradient>form {
    margin: 0 auto;
    text-align: center;
    height: 22rem;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.settings .type-name,
.settings .activity,
.settings .position {
    display: flex;
    flex-direction: column;
}

.settings form label {
    color: var(--white);
    font-weight: 400;
    letter-spacing: .7px;
    font-size: 19px;
}

.settings form input {
    border-radius: 16px;
    border: 0;
    width: 237px;
    height: 32px;
}


/* WELCOME */

.welcome>header {
    align-items: center;
}

.welcome>main {
    height: 38rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.welcome .second-row {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    width: 95%;
    margin: 0 auto;
}

.welcome .first-activity,
.welcome .second-activity {
    position: relative;
    justify-content: end;
    margin: 0;
}

.welcome .trash-icon {
    position: absolute;
    top: 19px;
    right: 17px;
}

.welcome .duration .duration-clocks-img,
.welcome .unfinished-emoji,
.review-task .neutral-emoji {
    width: 100%;
    height: 4rem;
    margin: 0 auto;
}

.welcome .duration p,
.welcome .repeat-activity p,
.welcome .done-unifinished-activity p,
.review-task .not-really-reaction p,
.review-task .not-bad-reaction p,
.review-task .fablous-reaction p {
    margin: 0;
    color: white;
    font-weight: 500;
    letter-spacing: 0.4px;
    text-align: center;
}

.welcome .repeat-activity {
    align-items: center;
}

.welcome .repeat-activity .repeat-icon {
    width: 4rem;
    height: 3em;
}

.neumorphic {
    box-shadow: 12px 12px 24px 0 rgba(0, 0, 0, 0.2),
        -12px -12px 24px 0 rgba(255, 255, 255, 0.5);
    font-size: 5rem;
    width: 18.5rem;
    height: 8.4rem;
    border-radius: 40px;
    overflow: hidden;
    padding: 1.3rem;
    display: flex;
}

.neumorphic--pressed {
    box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
        inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
}

.variation2 {
    justify-content: space-around;
    align-items: center;
}

.variation2.pressed {
    color: #5ab9ea;
}


/* REVIEW */

.review-task>header {
    align-items: center;
}

.review-task .background-turquoise {
    height: 40rem;
    background-color: var(--turquoise);
}

.review-task .background-turquoise .satisfaction {
    display: flex;
    flex-direction: column;
}

.review-task .satisfaction .second-row {
    align-items: baseline;
}

.review-task .sad-emoji-png,
.review-task .neutral-emoji-png,
.review-task .fablous-emoji-png {
    width: 100%;
    height: 3rem;
}


.review-task .paused-activity .second-row {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.review-task .wrapper {
    display: flex;
    flex-direction: column;
    height: 90%;
    justify-content: space-between;
}

.review-task .satisfaction, .review-task .paused-activity, .review-task .paused-activity, .review-task .share-results {
    width: 18rem;
    height: 9.5rem;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, .23);
    border-radius: 21px;
}

.review-task .satisfaction .second-row {
    width: 89%;
}

.review-task .share-results .second-row {
    width: 68%;
}