/* REVIEW */

/* Iphone 5/SE */ 

@media only screen and (width: 320px) {

    .review-task>header {
        margin: 0;
    }

    .review-task>header>h1,
    .settings>main>h1 {
        font-size: 1.8rem;
    }

    .review-task .background,
    .settings .background-pink {
        width: 18rem;
        height: 34rem;
    }

    .review-task .satisfaction, .review-task .paused-activity, .review-task .paused-activity, .review-task .share-results {
        width: 16rem;
        height: 7.5rem;
    }

    .review-task .background h2 {
        font-size: 1.2rem;
    }

    .review-task .satisfaction .second-row {
        height: 4rem;
    }

    .review-task .not-really-reaction a::before, .review-task .not-bad-reaction a::before, .review-task .fablous-reaction a::before {
        width: 2rem;
    }

    .review-task .not-bad-reaction a::before, .review-task .fablous-reaction a::before {
        left: .8rem;
    }

    .review-task .not-really-reaction p, .review-task .not-bad-reaction p, .review-task .fablous-reaction p, .review-task .paused-activity .second-row {
        font-size: 0.8rem;
    }

    .review-task .paused-activity, .review-task .paused-activity {
        width: 16rem;
        height: 7.5rem;
    }

    .review-task .paused-activity .second-row {
        height: 4.8rem;
    }

    .review-task .share-results {
        width: 16rem;
        height: 7.5rem;
    }

    .review-task .share-results .second-row {
        height: 4rem;
    }

    .settings .background-pink {
        margin-bottom: 1rem;
        height: 30rem;
    }

    .settings .done-btn img {
        width: 3.9rem;
    }

    .sing-in .background-turquoise {    
        height: 32rem;
        margin-bottom: 1rem;
    }

    .sing-in .background-turquoise {
        width: 19rem;
    }
    
    .sing-in .continue-google, .sing-in .continue-instagram, .sing-in .type-email, .sing-in .type-password {
        width: 17rem;
        margin: 0 auto;
    }

    .sing-in .continue-google a::before {
        left: 1.8rem;
    }

    .sing-in .continue-instagram a::before {
        left: 1rem;
    }

    .sing-in .continue-google a, .sing-in .continue-instagram a, .sing-in .sing-in-form input {
        font-size: .9rem;
    }

    .welcome>header>h1 {
        font-size: 2rem;
    }

    .welcome .activity, .welcome .add-activity {
        width: 19rem;
    }

    .welcome .second-row {
        align-items: center;
        width: 92%;
        height: 4rem;
    }

    .welcome .duration-clocks-img, .welcome .done-emoji, .welcome .repeat-icon, .welcome .unfinished-emoji {
        width: 5.5rem;
        height: 2.5rem;
    }

    .welcome .duration p, .welcome .repeat-activity p, .welcome .done-unifinished-activity p {
        font-size: .8rem;
    }

    .neumorphic {
        width: 16.3rem;
    }

    .your-plans .be-productive, .your-plans .move-your-body, .your-plans .mindfulness {
        width: 19rem;
    }

    .your-plans .be-productive .second-row, .your-plans .move-your-body .second-row, .your-plans .mindfulness .second-row {
        width: 84%;
    }

    .edit-task>header {
        width: 96%;
    }

    .edit-task header h1 {
        font-size: 1.8rem;
    }

    .edit-task .background {
        width: 19rem;
    }

    .edit-task .name-of-activity, 
    .edit-task .duration-music {
        width: 17rem;
    }
}

@media only screen and (min-width: 568px) and (max-width: 1336px) and (orientation: landscape) {

    .edit-task .background {
        width: 32rem;
    }

    .edit-task .name-of-activity, 
    .edit-task .duration, 
    .edit-task .music,
    .edit-task .duration-music {
        width: 28rem;
        height: 10rem;
    }

    .edit-task .duration h3 {
        padding-left: 2rem;
    }

    .edit-task .duration h3::before {
        left: 2.9rem;
    }

    .edit-task .duration, 
    .edit-task .music {
        width: 13rem;
        height: 8.5rem;
    }
}

@media only screen and (min-width: 667px) and (max-width: 1336px) and (orientation: landscape) {
    
    .edit-task .background {
        width: 36rem;
    }

    .edit-task .name-of-activity, .edit-task .duration-music {
        width: 32rem;
        height: 10rem;
    }

    .edit-task .duration-music {
        align-items: center;
    }

    .edit-task .wrapper h3 {
        padding-left: 2.5rem;
    }

    .edit-task .name-of-activity h3::before {
        left: 9.8rem;
    }

    .edit-task .duration, .edit-task .music {
        width: 14rem;
        height: 8.5rem;
    }

    .edit-task .duration h3::before {
        width: 2.8rem;
        height: 4rem;
        left: 3.3rem;
        bottom: -1.2rem;
    }
}

/*
@media only screen and (width: 1366px) and (orientation: landscape) {

    .edit-task .background {
        width: 73rem;
    }

    .edit-task .name-of-activity, .edit-task .duration-music {
        width: 62rem;
        height: 18rem;
    }

    .edit-task .name-of-activity h3::before {
        left: 19.9rem;
    }

    .edit-task .duration h3::before {
        left: 6.5rem;
    }

    .edit-task .duration, .edit-task .music {
        width: 29rem;
        height: 16.5rem;
    }
}

*/

/* Iphone 6/7/8 Plus */

@media only screen and (width: 414px) {

    .review-task>header {
        margin: .5rem;
    }

    .review-task .background {
        height: 38rem;
    }

    .review-task .wrapper {
        height: 94%;
    }

    .settings .background-pink {
        margin-bottom: 1rem;
    }

    .sing-in .background-turquoise {    
        height: 32rem;
        margin-bottom: 1rem;
    }

    .sing-in .sing-in-btn {
        margin: 1rem 0;
    }

}

/* Ipad */ 

@media only screen and (min-width: 768px) and (max-width: 1366px) {

    .review-task .background,
    .settings .background-pink, 
    .sing-in .background-turquoise,
    .edit-task .background {
        width: 40rem;
        height: 52rem;
    }

    .sing-in .background-turquoise {
        height: 48rem;
    }

    .review-task .satisfaction, .review-task .paused-activity, .review-task .paused-activity, .review-task .share-results {
        width: 33rem;
        height: 12.2rem;
    }

    .review-task .background .satisfaction {
        justify-content: center;
    }

    .review-task .background h2 {
        margin: 0;
    }

    .review-task .background .paused-activity h2 {
        margin-bottom: 2rem;
    }

    .review-task .satisfaction .second-row {
        width: 76%;
        align-items: flex-end;
        height: 6.5rem;
    }

    .review-task .paused-activity {
        justify-content: center;
    }

    .review-task .paused-activity .second-row {
        height: 5rem;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }

    .review-task .share-results {
        justify-content: center;
    } 

    .review-task .background .share-results h2 {
        margin-bottom: 1rem;
    }

    .review-task .share-results .second-row {
        align-items: flex-end;
        width: 68%;
        height: 4.5rem;
    }
    
    .settings .avatar,
    .your-plans .avatar {
        width: 4rem;
    }

    .settings .hamburger-menu {
        height: 2.8rem;
        width: 5rem;
    }

    .settings>main>h1 {
        font-size: 3rem;
    }
    
    .settings .background-pink {
        height: 44rem;
    }

    .settings .background-pink>form {
        height: 66%;
    }

    .settings form label {
        font-size: 2rem;
    }

    .settings form input {
        width: 32rem;
    }

    .sing-in .avatar-pic {
        width: 4.5rem;
    }

    .sing-in>main>h1,
    .welcome>header>h1,
    .edit-task>header>h1 {
        font-size: 3rem;
    }

    .sing-in .continue-google, .sing-in .continue-instagram, .sing-in .type-email, .sing-in .type-password {
        width: 30rem;
        height: 3.5rem;
        border-radius: 22px;
    }

    .sing-in .continue-google a, .sing-in .continue-instagram a, .sing-in .sing-in-form input {
        font-size: 1.2rem;
    }

    .sing-in .continue-google a::before, .sing-in .continue-instagram a::before {
        bottom: 1rem;
    }

    .sing-in .continue-google a::before {
        left: 6rem;
    }

    .sing-in .continue-instagram a::before {
        left: 5.4rem;
    }

    .sing-in .sing-in-btn,
    .edit-task .start-btn {
        width: 12rem;
        height: 2.5rem;
        border-radius: 2rem;
    }

    .sing-in .sing-in-btn a,
    .edit-task .start-btn a {
        font-size: 1.2rem;
    }

    .welcome>main {
        margin-bottom: 1rem;
        height: 43rem;
    }

    .welcome .activity, .welcome .add-activity {
        width: 36rem;
        height: 13rem;
    }

    .neumorphic {
        width: 33rem;
        height: 10rem;
    }

    .welcome .activity>h2 {
        font-size: 1.8rem;
    }

    .welcome .trash-icon {
        width: 2.5rem;
    }

    .welcome .second-row {
        height: 6rem;
        align-items: center;
    }

    .welcome .duration-clocks-img, .welcome .done-emoji, .welcome .repeat-icon, .welcome .unfinished-emoji {
        height: 4rem;
    }

    .welcome .duration p, .welcome .repeat-activity p, .welcome .done-unifinished-activity p {
        font-size: 1.2rem;
    }

    .your-plans .hamburger-menu-active,
    .edit-task .hamburger-menu {
        width: 4rem;
        height: 3rem;
    }

    .your-plans>main>h1 {
        font-size: 2.5rem;
    }

    .your-plans .be-productive, .your-plans .move-your-body, .your-plans .mindfulness {
        width: 39rem;
        height: 15rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .your-plans .be-productive>h2, .your-plans .move-your-body>h2, .your-plans .mindfulness>h2 {
        font-size: 1.9rem;
    }

    .your-plans .be-productive .second-row, .your-plans .move-your-body .second-row, .your-plans .mindfulness .second-row {
        height: 10rem;
    }

    .work-svg, .workout-svg, .meditation-svg {
        width: 11rem;
    }

    .your-plans .be-productive .circle, .your-plans .move-your-body .circle, .your-plans .mindfulness .circle {
        width: 3rem;
        height: 3rem;
    }

    .your-plans .done-tasks p {
        font-size: 1.2rem;
        margin: 0.8rem 0 0;
    }

    .edit-task header h1::after {
        width: 3.5rem;
        height: 3.5rem;
        right: -4.5rem;
    }

    .edit-task .name-of-activity,
    .edit-task .duration-music {
        width: 35rem;
        height: 12rem;
    }

    .edit-task .wrapper h3 {
        font-size: 1.8rem;
        padding-left: 3rem;
    }

    .edit-task .name-of-activity h3::before {
        width: 5.2rem;
        height: 5.7rem;
        left: 8.9rem;
        bottom: -1.8rem;
    }

    .edit-task .duration h3::before {
        width: 4.5rem;
        height: 5rem;
        left: 1.8rem;
        bottom: -1.2rem;
    }

    .edit-task .duration, 
    .edit-task .music {
        width: 16rem;
        height: 11.5rem;
    }

    .edit-task .name-of-activity h2,
    .edit-task .duration-music h2 {
        font-size: 2rem;
    }

    .edit-task .duration h3 {
        padding-left: 4.2rem;
        font-size: 1.8rem;
    }
    
    .edit-task .music .spotify-img {
        width: 4.5rem;
        height: 4rem;
        margin: 1rem auto;
    }

    .edit-task .flex {
        height: 63%;
    }
}

/* Ipad Pro */ 

@media only screen and (min-width: 1024px) and (max-width: 1366px) {

    .settings .avatar {
        width: 5rem;
    }
    
    .your-plans>main>h1, .settings>main>h1, .welcome>header>h1, .review-task>header>h1, .sing-in>main>h1, .edit-task>header>h1 {
        font-size: 3.5rem;
    }

    .review-task .background,
    .settings .background-pink,
    .sing-in .background-turquoise,
    .edit-task .background {
        width: 56rem;
        height: 71rem;
    }

    .settings .background-pink {
        height: 63rem;
    }

    .settings .background-pink>form {
        height: 70%;
    }

    .settings form input {
        width: 43rem;
        height: 3rem;
    }

    .settings .done-btn img {
        width: 6rem;
    }

    .review-task .satisfaction, .review-task .paused-activity, .review-task .paused-activity, .review-task .share-results {
        width: 48rem;
        height: 17.2rem;
    }

    .your-plans .be-productive>h2, .your-plans .move-your-body>h2, .your-plans .mindfulness>h2, .welcome .activity>h2, .review-task .background h2, .edit-task .background h2 {
        font-size: 2.4rem;
    }

    .review-task .satisfaction .second-row {
        width: 77%;
        height: 9.5rem;
    }

    .welcome .duration p, .welcome .repeat-activity p, .welcome .done-unifinished-activity p, .review-task .not-really-reaction p, .review-task .not-bad-reaction p, .review-task .fablous-reaction p {
        font-size: 1.6rem;
    }

    .review-task .not-really-reaction a::before, .review-task .not-bad-reaction a::before, .review-task .fablous-reaction a::before {
        width: 4.5rem;
        height: 5.5rem;
        bottom: 2rem;
    }

    .review-task .paused-activity .second-row {
        height: 8rem;
    }

    .review-task .paused-activity .second-row img {
        width: 2rem;
    }

    .review-task .paused-activity .second-row p {
        font-size: 1.6rem;
    }

    .review-task .share-results .second-row {
        height: 8.5rem;
        align-items: center;
    }

    .review-task .share-results .second-row img {
        width: 4rem;
    }

    .sing-in .sing-in-btn, .review-task .repeat-btn, .edit-task .start-btn {
        width: 19rem;
        height: 3.3rem;
        border-radius: 22px;
    }

    .sing-in .sing-in-btn a, .review-task .repeat-btn a, .edit-task .start-btn a {
        font-size: 1.5rem;
    }

    .sing-in .avatar-pic {
        width: 5.5rem;
    }

    .sing-in .background-turquoise {
        height: 65rem;
    }

    .sing-in .continue, .sing-in .sing-in-form {
        height: 30%;
    }

    .sing-in .continue-google, .sing-in .continue-instagram, .sing-in .type-email, .sing-in .type-password {
        width: 44rem;
        height: 4.5rem;
        border-radius: 35px;
    }

    .sing-in .continue-google a, .sing-in .continue-instagram a, .sing-in .sing-in-form input {
        font-size: 1.5rem;
    }

    .sing-in .continue-google a::before {
        left: 9.8rem;
    }

    .sing-in .continue-instagram a::before {
        left: 9rem;
    }
    
    .sing-in .continue-google a::before, .sing-in .continue-instagram a::before {
        bottom: 1rem;
    }

    .sing-in .continue-google a::before, .sing-in .continue-instagram a::before {
        width: 2.5rem;
        height: 2.3rem;
    }

    .sing-in .sing-in-btn {
        width: 19rem;
        height: 3.3rem;
        border-radius: 22px;
    }

    .welcome .hamburger-menu {
        height: 3rem;
    }

    .welcome>main {
        height: 61rem;
    }

    .your-plans .hamburger-menu-active {
        width: 6rem;
        height: 4rem;
    }

    .your-plans .be-productive, .your-plans .move-your-body, .your-plans .mindfulness, .welcome .activity, .welcome .add-activity {
        width: 52rem;
        height: 20rem;
        border-radius: 40px;
    }

    .welcome .activity>h2 {
        font-size: 2.4rem;
    }

    .welcome .trash-icon {
        width: 3.5rem;
    }

    .welcome .second-row {
        height: 9rem;
        align-items: center;
    }

    .welcome .duration-clocks-img, .welcome .done-emoji, .welcome .repeat-icon, .welcome .unfinished-emoji {
        height: 6rem;
    }

    .neumorphic {
        width: 49.5rem;
        height: 14rem;
    }

    .welcome .plus-btn img {
        width: 6rem;
    }
    
    .your-plans .done-tasks p {
        font-size: 1.8rem;
        margin: 0.8rem 0 0;
    }

    .your-plans .avatar {
        width: 6rem;
    }

    .your-plans .be-productive .circle, .your-plans .move-your-body .circle, .your-plans .mindfulness .circle {
        width: 4rem;
        height: 4rem;
    }

    .your-plans .done-tasks .circle p {
        font-size: 2rem;
    }

    .edit-task .hamburger-menu {
        width: 5rem;
        height: 4rem;
    }

    .edit-task header h1::after {
        width: 4.5rem;
        height: 4.5rem;
        right: -5.5rem;
    }

    .edit-task .name-of-activity, 
    .edit-task .duration-music {
        width: 48rem;
        height: 16rem;
    }

    .edit-task .duration, .edit-task .music {
        width: 22rem;
        height: 14.5rem;
    }

    .edit-task .background h2 {
        font-size: 2.9rem;
    }

    .edit-task .wrapper h3 {
        font-size: 2.2rem;
        padding-left: 3rem;
    }

    .edit-task .name-of-activity h3::before {
        width: 5.2rem;
        height: 5.7rem;
        left: 13.9rem;
        bottom: -1.2rem;
    }

    .edit-task .duration h3 {
        padding-left: 4.2rem;
        font-size: 2.2rem;
    }

    .edit-task .duration h3::before {
        width: 5.5rem;
        height: 6rem;
        left: 3.5rem;
        bottom: -1.5rem;
    }

}
