body,
html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: "stolzl";
    font-weight: 300;
    background-color: var(--white);
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

:root {
    --white: #ffffff;
    --turquoise: rgba(43, 178, 152, .86);
    --pastelpink: #F6A5A5;
    --glaucous: #7E85BD;
    --white-ghost: rgba(255, 255, 255, .23);
    --grey-white: #F5F5F5;
}

/* YOUR PLANS */

.your-plans .hamburger-menu-active {
    background-image: url("../assets/imgs/hambureger-menu-active.svg");
    width: 3rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.your-plans>header,
.settings>header,
.welcome>header,
.review-task>header,
.edit-task>header,
.menu>header,
.your-data>header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 20px 0;
}

.your-plans>main>h1,
.settings>main>h1,
.welcome>header>h1,
.review-task>header>h1,
.sing-in>main>h1,
.edit-task>header>h1,
.menu>main>h1,
.your-data>main>h1 {
    font-weight: 500;
    margin-bottom: 33px;
    letter-spacing: 0.6px;
}

.your-plans .be-productive,
.your-plans .move-your-body,
.your-plans .mindfulness,
.welcome .activity,
.welcome .add-activity,
.review-task .background {
    width: 21rem;
    height: 11rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 29px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.16);
}

.your-plans .be-productive,
.your-plans .move-your-body,
.your-plans .mindfulness {
    margin-bottom: 2rem;
}

.your-plans .be-productive, .welcome .activity.glaucous, .review-task .background.glaucous, .edit-task .background.glaucous, .edit-task .start-btn.glaucous, .review-task .repeat-btn.glaucous, .edit-task.during .review-btn.glaucous, .edit-task.during .cancel-btn.glaucous {
    background-color: var(--glaucous);
}

.your-plans .move-your-body, .welcome .activity.turquoise, .review-task .background.turquoise, .sing-in .background-turquoise,
.edit-task .background.turquoise   {
    background-color: var(--turquoise);
}

.your-plans .mindfulness, .welcome .pastel-pink, .review-task .background.pink, .edit-task .background.pink, .sing-in .sing-in-btn, .review-task .repeat-btn.pink, .edit-task .start-btn.pink, .edit-task.during .review-btn.pink, .edit-task.during .cancel-btn {
    background-color: var(--pastelpink);
}

.your-plans .be-productive>h2,
.your-plans .move-your-body>h2,
.your-plans .mindfulness>h2,
.welcome .activity>h2,
.review-task .background h2,
.edit-task .background h2 {
    font-weight: 500;
    color: var(--white);
    text-align: center;
    letter-spacing: 1.2px;
}

.your-plans .be-productive .second-row,
.your-plans .move-your-body .second-row,
.your-plans .mindfulness .second-row,
.review-task .satisfaction .second-row,
.review-task .paused-activity .second-row,
.review-task .share-results .second-row {
    width: 75%;
    height: 6rem;
    margin: -9px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
}

.work-svg {
    width: 95px;
    margin: 0px 0 10px 5px;
}

.workout-svg,
.meditation-svg {
    margin-bottom: 10px;
}

.your-plans .done-tasks {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.your-plans .be-productive .circle,
.your-plans .move-your-body .circle,
.your-plans .mindfulness .circle {
    width: 2rem;
    height: 2rem;
    margin: 0;
    border-radius: 50%;
    background-color: rgba(232, 232, 232, 0.27);
    display: flex;
    justify-content: center;
    align-items: center;
}

.your-plans .done-tasks .circle p:nth-of-type(1) {
    font-size: 25px;
    margin: 0;
    border: 0px solid;
}

.your-plans .done-tasks>p:nth-of-type(2) {
    font-size: 16px;
    margin: 0;
}


/* SETTINGS */

.settings .background-pink {
    width: 21rem;
    height: 35rem;
    background: var(--pastelpink);
    border-radius: 41px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.settings .background-pink>form {
    margin: 0 auto;
    text-align: center;
    height: 22rem;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.settings .type-name,
.settings .activity,
.settings .position {
    display: flex;
    flex-direction: column;
}

.settings form label {
    color: var(--white);
    font-weight: 400;
    letter-spacing: .7px;
    font-size: 19px;
}

.settings form input {
    border-radius: 15px;
    border: 0;
    width: 237px;
    height: 32px;
}

/* WELCOME */

.welcome {
    margin-bottom: 1rem;
}

.welcome>header,
.edit-task>header,
.review-task>header {
    align-items: center;
}

.welcome>main {
    height: 38rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.welcome .second-row {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    width: 90%;
    margin: 0 auto;
}

.welcome .activity {
    position: relative;
    justify-content: end;
    margin: 0;
}

.welcome .trash-icon {
    position: absolute;
    top: 19px;
    right: 17px;
}

.welcome .duration {
    position: relative;
}

.welcome .duration-clocks-img, .welcome .done-emoji, .welcome .repeat-icon, .welcome .unfinished-emoji {
    width: 6.5rem;
    height: 3rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-origin: content-box;
    margin: 0 auto;
}

.welcome .duration-clocks-img.pink {
    background-image: url("../assets/imgs/clock-pink.svg");
}

.welcome .duration-clocks-img.turquoise {
    background-image: url("../assets/imgs/clock-turqouise.svg");
}

.welcome .duration-clocks-img.glaucous {
    background-image: url("../assets/imgs/clock-glaucous.svg");
}

.welcome .done-emoji {
    background-image: url("../assets/imgs/done.svg");
}

.welcome .repeat-icon.turquoise {
    background-image: url("../assets/imgs/icon-ios-repeat-turqouise.svg");
}

.welcome .repeat-icon.pink {
    background-image: url("../assets/imgs/icon-repeat-pink.svg");
}

.welcome .repeat-icon.glaucous  {
    background-image: url("../assets/imgs/icon-repeat-glaucous.svg");
}

.welcome .unfinished-emoji {
    background-image: url("../assets/imgs/unfinished.svg");
}

.welcome .duration p,
.welcome .repeat-activity p,
.welcome .done-unifinished-activity p,
.review-task .not-really-reaction p,
.review-task .not-bad-reaction p,
.review-task .fablous-reaction p {
    margin: 0;
    color: var(--white);
    font-weight: 500;
    letter-spacing: 0.4px;
    text-align: center;
}

.welcome .repeat-activity {
    align-items: center;
}

.neumorphic {
    box-shadow: 12px 12px 24px 0 rgba(0, 0, 0, 0.2),
        -12px -12px 24px 0 rgba(255, 255, 255, 0.5);
    font-size: 5rem;
    width: 18.5rem;
    height: 8.4rem;
    border-radius: 40px;
    overflow: hidden;
    padding: 1.3rem;
    display: flex;
}

.neumorphic--pressed {
    box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
        inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
}

.variation2 {
    justify-content: space-around;
    align-items: center;
}

.variation2.pressed {
    color: #5ab9ea;
}


/* REVIEW */

.review-task>header {
    align-items: center;
}

.review-task .hamburger-menu,
.settings .hamburger-menu,
.edit-task .hamburger-menu,
.welcome .hamburger-menu,
.your-data .hamburger-menu {
    background-image: url("../assets/imgs/hamburger-menu.svg");
    width: 3rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.review-task .background {
    height: 40rem;
}

.review-task .background .satisfaction {
    display: flex;
    flex-direction: column;
}

.review-task .satisfaction .second-row {
    align-items: baseline;
}

.review-task .neutral-emoji-png,
.review-task .fablous-emoji-png {
    width: 100%;
    height: 3rem;
}

.review-task .paused-activity .second-row {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.review-task .wrapper {
    display: flex;
    flex-direction: column;
    height: 90%;
    justify-content: space-between;
    align-items: center;
}

.review-task .satisfaction,
.review-task .paused-activity,
.review-task .paused-activity,
.review-task .share-results {
    width: 18rem;
    height: 9.2rem;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, .23);
    border-radius: 21px;
        display: flex;
    flex-direction: column;
}

.review-task .satisfaction .second-row {
    width: 89%;
    align-items: flex-end;
    height: 4.5rem;
}

.review-task .share-results .second-row {
    height: 4.5rem;
}

.review-task .share-results .second-row {
    width: 68%;
}

/* SING IN */

.sing-in .background-turquoise,
.edit-task .background {
    width: 21rem;
    height: 38rem;
    border-radius: 29px;
    margin-bottom: 1rem;
}

.sing-in .background-turquoise {
    margin-bottom: 1rem;
}

.sing-in .wrapper,
.edit-task .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.edit-task .wrapper {
    height: 100%;
}

.sing-in .continue,
.sing-in .sing-in-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 25%;
}

.sing-in .continue-google,
.sing-in .continue-instagram,
.sing-in .type-email,
.sing-in .type-password {
    width: 19rem;
    height: 2.75rem;
    border-radius: 15px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.sing-in .continue-google a,
.sing-in .continue-instagram a {
    padding-left: 1rem;
}

.sing-in .continue-or {
    color: white;
    text-transform: uppercase;
}

.sing-in .avatar-pic {
    margin-top: 2rem;
}

.sing-in .sing-in-form input {
    width: 90%;
    height: 80%;
    text-align: center;
    font-size: 16px;
    font-family: "stolzl";
    font-weight: 300;
    border-radius: 15px;
    border: 0;
    outline-color: var(--pastelpink)
}

.sing-in .sing-in-btn, .review-task .repeat-btn, .edit-task .start-btn, .edit-task.during .review-btn, .edit-task.during .cancel-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11rem;
    height: 2.3rem;
    border-radius: 15px;
    margin-bottom: 0.9rem;
}

.edit-task.during .buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 95%;
}

.edit-task.during .review-btn, .edit-task.during .cancel-btn {
    width: 8rem;
}

.sing-in .sing-in-btn {
    margin: 1rem 0;
}

.sing-in .sing-in-btn a, .review-task .repeat-btn a, .edit-task .start-btn a, .edit-task.during .review-btn a, .edit-task.during .cancel-btn a, .menu .background .column a {
    text-decoration: none;
    color: white;
    font-weight: 300;
}

.sing-in .no-account,
.sing-in .create-account {
    color: white;
    font-size: 14px;
    font-weight: 200;
    margin: 1.5rem 0 0.5rem 0;
}

.sing-in .create-account {
    text-decoration: none;
    margin: 0;
}

.sing-in .continue-google a::before {
    content: " ";
    background-image: url("../assets/imgs/icon-google.svg");
    width: 1.5rem;
    height: 1.5rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-origin: content-box;
    position: absolute;
    left: 2rem;
    bottom: .6rem;
}

.sing-in .continue-instagram a::before {
    content: " ";
    background-image: url("../assets/imgs/icon-instagram-pink.svg");
    width: 1.5rem;
    height: 1.5rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-origin: content-box;
    position: absolute;
    left: 1.4rem;
    bottom: .6rem;
}

/* EDIT TASK */

.edit-task header h1 {
    position: relative;
}

.edit-task header h1::after {
    content: " ";
    background-image: url(../assets/imgs/edit-emoji.svg);
    width: 2.5rem;
    height: 2.5rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-origin: content-box;
    position: absolute;
    right: -3rem;
    bottom: 0;
}

.edit-task.during header h1::after {
    content: none;
}

.edit-task .background {
    width: 21rem;
}

.edit-task .wrapper {
    justify-content: space-around;
}

.edit-task .flex {
    display: flex;
    flex-direction: column;
    height: 58%;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.edit-task .wrapper h3 {
    color: var(--white);
    font-weight: 400;
    letter-spacing: 0.05rem;
    position: relative;
    padding-left: 3.2rem;
}

.edit-task .background.pink .wrapper h3 {
    padding-left: 3rem;
}

.edit-task .name-of-activity h2 {
    margin-bottom: 0;
}

.edit-task .name-of-activity h3::before {
    content: " ";
    background-image: url("../assets/imgs/swimmer-emoji.svg");
    width: 3.5rem;
    height: 3.5rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-origin: content-box;
    position: absolute;
    left: 3.4rem;
    bottom: -1rem;
}

.edit-task .duration h3::before {
    content: " ";
    background-image: url("../assets/imgs/timer-emoji.svg");
    width: 2.5rem;
    height: 3rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-origin: content-box;
    position: absolute;
    left: .9rem;
    bottom: -0.8rem;
}

.edit-task .name-of-activity,
.edit-task .duration,
.edit-task .music {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 18rem;
    height: 9rem;
    background-color: rgba(255, 255, 255, .23);
    border-radius: 29px;
}

.edit-task .duration-music {
    display: flex;
    justify-content: space-between;
    width: 18rem;
    height: 9rem;
}

.edit-task .duration h3 {
    text-align: center;
    padding-left: 3rem;
    font-size: 1rem;
}

.edit-task .duration, 
.edit-task .music  {
    width: 8rem;
    height: 8.5rem;
}

.edit-task .duration-music h2 {
    margin: .7rem 0;
    font-size: 1.2rem;
}

.edit-task .music .spotify-img {
    background-image: url("../assets/imgs/icon-spotify.svg");
    width: 2.5rem;
    height: 3rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-origin: content-box;
    margin: 0 auto;
}

.edit-task .timer {
    background-image: url("../assets/imgs/count-down.svg");
    width: 10.5rem;
    height: 9.5rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-origin: content-box;
    margin: 1rem auto;
}

.edit-task .timer-during {
    width: 10.5rem;
    height: 9.5rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-origin: content-box;
    margin: 1rem auto;
}

.edit-task .timer-during.pink {
    background-image: url("../assets/imgs/countdown-progress-pink.svg");
}

.edit-task .timer-during.glaucous {
    background-image: url("../assets/imgs/countdown-progress-glaucous.svg");
}

.edit-task .timer-done {
    width: 8.5rem;
    height: 9.5rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-origin: content-box;
    margin: 1rem auto;
}

.edit-task .timer-done.pink{
    background-image: url("../assets/imgs/count-down-done-pink.svg");
}

.edit-task .timer-done.glaucous {
    background-image: url("../assets/imgs/count-down-done-glaucous.svg");
}

.edit-task .background.glaucous .name-of-activity h3::before {
    content: " ";
    background-image: url("../assets/imgs/email.svg");
    width: 3.5rem;
    height: 3.5rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-origin: content-box;
    position: absolute;
    left: 2.1rem;
    bottom: -1rem;
}

.edit-task .background.pink .name-of-activity h3::before {
    content: " ";
    background-image: url("../assets/imgs/meditation-icon.svg");
    width: 3.5rem;
    height: 3.5rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-origin: content-box;
    position: absolute;
    left: 3.1rem;
    bottom: -1rem;
}

/* REVIEW */

.edit-task .start-btn {
    margin-top: 0;
}

.review-task .not-really-reaction, .review-task .not-bad-reaction, .review-task .fablous-reaction {
    position: relative;
}

.review-task .not-really-reaction a::before, .review-task .not-bad-reaction a::before, .review-task .fablous-reaction a::before  {
    content: " ";
    width: 2.5rem;
    height: 3.5rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-origin: content-box;
    position: absolute;
    bottom: 1rem;
}

.review-task .not-really-reaction a::before {
    background-image: url("../assets/imgs/unfinished.svg");
    left: 1.2rem;
}

.review-task .not-bad-reaction a::before {
    background-image: url("../assets/imgs/not-bad.svg");
}

.review-task .fablous-reaction a::before {
    background-image: url("../assets/imgs/done.svg");
}

.review-task .not-bad-reaction a::before, .review-task .fablous-reaction a::before {
    left: 1rem;
}

/* MENU */ 

.menu .avatar-pic {
    margin: 0 auto;
    width: 3.8rem;
}

.menu .background {
    background-color: var(--grey-white);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 21rem;
    height: 34rem;
    border-radius: 29px;
    margin-bottom: 1rem;
}

.menu .background .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 65%;
}

.menu .background .column, .menu .background .log-out {
    width: 18rem;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 29px;
    font-size: 1.3rem;
}

.menu .check-data {
    background-color: var(--pastelpink);
}

.menu .back-to-plans {
    background-color: var(--glaucous);
}

.menu .my-settings {
    background-color: var(--turquoise);
}

.menu .background .log-out a {
    color: black;
    text-decoration: none;
}

.menu .background .log-out {
    width: 15rem;
    height: 3rem;
    border: 1px solid black;
}


/* YOUR DATA */ 

.your-data .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 21rem;
    height: 34rem;
    margin-bottom: 1rem;
}

.your-data .months-data, .your-data .days-data {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-origin: content-box;
    width: 21rem;
    height: 16rem;
}

.your-data .months-data {
    background-image: url("../assets/imgs/data-months.svg");
}

.your-data .days-data  {
    background-image: url("../assets/imgs/data-days.svg");
}

